.calendar-form {
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.calendar-display {
  transform: scale(0.7);
  width: 300%;
  order: 1;
}
